<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="paynow.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        #errors {
            color: red;
        }
    </style>
</head>
<body id = "checkout" class="bg-cover bg-center login-bg">
        <div class="flex flex-col items-center h-screen">
            <div class = "checkout">
                <a class="logo"></a>
                <div class="checkout-box">
                    <div style = "display:flex;justify-content: center;" v-if="displayQR" id = "QR">
                        
                    </div>
                    <div v-else>
                        <div v-for="(value, key, index) in cart">
                            <div v-if="value.quantity != 0" class = "checkout-item-box text">
                                <div>{{key}}</div>
                                <div style ="display: flex;justify-content: space-between; width: 80px">
                                    <div>Qty:</div>
                                    <div>{{value.quantity}}</div>
                                </div>
                            </div>                        
                        </div>
                        <div style ="display: flex;justify-content: space-between;">
                            <div style="display: flex;flex-wrap: wrap;max-width: 20vw;text-align: left;"class = "logo">Total: ${{total}}</div>
                            <div style = "display: flex;align-items: flex-end;">
                                <div><button v-on:click="displayQR = true" style ="margin-bottom: 5px;"class="checkout-btn" role="button">Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    document.getElementsByClassName("logo")[0].innerHTML = "Farmer " + userData.last_name + "'s basket"
    cart = JSON.parse(sessionStorage.getItem("cart"))
    total = JSON.parse(sessionStorage.getItem("total"))
    processPayment(total)
    // Vue app
    const app = Vue.createApp({
        
        data() {
        return {
            qrHTML:"",
            displayQR:false,
            cart:cart,
            total: total.toFixed(2)
        };
        },
        methods: {
        },
        created(){
            
        }
    }).mount("#checkout");
</script>
</html>