<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="paynow.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        #errors {
            color: red;
        }
    </style>
</head>
<body id = "checkout" class="bg-cover bg-center login-bg">
        <div class="flex flex-col items-center h-screen">
            <div class = "checkout">
                <a class="logo"></a>
                <div class="checkout-box">
                    <div style = "display:flex;justify-content: center;" v-if="displayQR" id = "QR">
                        
                    </div>
                    <div v-else>
                        <div v-for="(value, key, index) in cart">
                            <div v-if="value.quantity != 0" class = "checkout-item-box text">
                                <div>{{key}}</div>
                                <div style ="display: flex;justify-content: space-between; width: 80px">
                                    <div>Qty:</div>
                                    <div>{{value.quantity}}</div>
                                </div>
                            </div>                        
                        </div>
                        <div style ="display: flex;justify-content: space-between;">
                            <div style="display: flex;flex-wrap: wrap;max-width: 20vw;text-align: left;"class = "logo">Total: ${{total}}</div>
                            <div style = "display: flex;align-items: flex-end;">
                                <div><button v-on:click="generateQR()" style ="margin-bottom: 5px;"class="checkout-btn" role="button">Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    document.getElementsByClassName("logo")[0].innerHTML = "Farmer " + userData.last_name + "'s basket"
    cart = JSON.parse(sessionStorage.getItem("cart"))
    total = JSON.parse(sessionStorage.getItem("total"))
    processPayment(total)
    // Vue app
    const app = Vue.createApp({
        
        data() {
        return {
            qrHTML:"",
            displayQR:false,
            cart:cart,
            total: total.toFixed(2)
        };
        },
        methods: {
            generateQR(){
                const months = {'Jan': '01', 'Feb': '01', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}
                // Determining the date the PayNow QR will expire by through UNIX Timestamps conversion
                let today = new Date(); // Obtains Current DateTime UNIX Timestamp.
                let todaySplit = String(new Date(today)).split(' '); // Convert into Standardised DateTime.

                let year = todaySplit[3]; // Obtains Year
                let month = todaySplit[1]; // Obtains Month Name
                month = months[month]; // Changes Month Name to Month Number
                let day = String(Number(todaySplit[2]) + 1); // Obtains Day of Month. +1 to indicate 24 Hours later.

                let time = todaySplit[4].split(':'); // Obtains HH:MM:SS
                let hour = time[0]; // Obtains Hour of Day
                let minute = time[1]; // Obtains Minute of Hour

                // Appends all obtained information into QR Generation Link.
                let qr = 
                    'https://sgqr.fullstacksys.com/paynow?mobile=90667672&uen=&editable=0&amount=' // Paid to my Phone No.. Can be changed.
                    + String(this.total) + '&expiry='
                    + year + '%2F'
                    + month + '%2F' 
                    + day + '%20' 
                    + hour + '%3A' 
                    + minute + '&ref_id=&company=';

                fetch(qr).then(response => {
                    return response.json();
                }).then(data => {
                    // Work with JSON data here
                    console.log(data);
                }).catch(err => {
                    // Do something for an error here
                });
                // Embeds QR Code onto Screen.
                console.log(qr)
                this.qrAPI= qr ;
                this.displayQR = true
                console.log('hi')
                return
            }
        },
        created(){
            
        }
    }).mount("#checkout");
</script>
</html>