<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="text">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- Page Title -->
    <title></title>
    <!-- CSS Files -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="animation.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- other Files -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="Events.js"></script>
    <script type="text/javascript" src="CreateEvent.js"></script>
    <style>
        .container {
            display: flex;
            justify-content: center;
            margin-top: 10%;
            margin-bottom: 10%;
            font-size: 2vw;
        }
        
        #errors {
            color: red;
        }
        input{
            width:30vw;
        }
    </style>
</head>

<body>
    <div id="events">
        <!-- This is the header/ Nav Bar -->
        <header id="header">
            <div class = "wrapper">
                <a href="index.html" class="logo">Mok's Farmers</a>
            </div>

            <div class ="links">
                <div class = "wrapper">
                    <a href="index.html" >Home</a>
                    <a href="MyGarden.html" >MyGarden</a>
                </div>
                <div class = "wrapper">
                    <a href="Events.html" class="active">Events</a>
                    <a href="Buy.html">Buy</a>
                </div>
            </div>

            <div class = "user-info">
                <button class="button-5" role="button">
                    <div v-if="isLogged" onclick="clearSession();window.location.replace('index.html')">Logout</div>
                    <div v-else><a href="login.html">Login/Signup</a></div>
                </button>
                <div id = "welcome" style ="text-align: right;" v-if="isLogged" >
                    Welcome, farmer 
                </div>
            </div>
            </div>
        </header>
            <!-- This is the form for creating the event -->
        <div>
            <div>
                <div class="mx-auto shadow-lg rounded p-10">
                    <div>
                        <h3 class="text-2xl font-bold mb-4">Add an Event</h3>
                        <div class="mb-4">
                            <label for="name" class="block text-sm font-medium text-gray-700">Event Name</label>
                            <input type="text" id="name" required
                                class="w-full border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block text-sm font-medium text-gray-700">Event Description</label>
                            <input type="text" id="description" required
                                class="w-full border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="location" class="block text-sm font-medium text-gray-700">Event Location</label>
                            <input type="text" id="location" required
                                class="w-full border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="size" class="block text-sm font-medium text-gray-700">Event Size</label>
                            <input type="number" id="size" required
                                class="w-full border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="from" class="block text-sm font-medium text-gray-700">Event Start:</label>
                            <input type="date" id="from" required
                                class="w-full text-xs border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="to" class="block text-sm font-medium text-gray-700">Event End:</label>
                            <input type="date" id="to" required
                                class="w-full text-xs border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="signup" class="block text-sm font-medium text-gray-700">Sign Ups End On:</label>
                            <input type="date" id="signup" required
                                class="w-full text-xs border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        </div>
                        <div class="mb-4">
                            <label for="image" class="block text-xs font-medium text-gray-700">Event Poster</label>
                            <input type="file" id="image" required accept=".webp, .png, .jpg, .jpeg" onchange="encodeImageFileAsURL(this)" class="w-full h-8 text-sm border-2 border-gray-300 rounded-md  px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                            <p class="text-xs text-gray-500 mt-2">No file chosen</p>
                        </div>
                        
                        <button onclick="addEvent()"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button>
                        <div id="errors" class="text-red-500 mt-4"></div>

                        <div style = "width:100%; display: flex;justify-content: flex-start;">
                            <button onclick="window.location.replace('Events.html')" style = "font-size:1rem;width:130px" class = "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" role = "button">Back</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>              
    <script>
        if (userData !=null && Object.keys(userData).length >0) {
            document.getElementById("welcome").innerHTML += userData.last_name + "!";
        }else{
            window.location.replace("index.html")
        }
        d = new Date()
        // Vue app
        const app = Vue.createApp({
                data() {
                    return {
                        cal:[],
                        months:{0:'January',1:'February',2:"March",3:"April",4:"May",5:"June",6:"July",7:"August",8:"September",9:"October",10:"November",11:"December"},
                        weekdays:{0:"Sunday",1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday"},
                        cur_date:{
                            year: d.getFullYear(),
                            month: d.getMonth(),
                            date: d.getDate(),
                            day: d.getDay()
                        },
                        displayMonth: d.getMonth(),
                        displayYear: d.getFullYear(),
                        eventCounter:0,
                        pageCounter:0,
                        isLogged:false,
                        userEvents: {
                            registered:{'5/10/2023':{name:'Edible Gardening',location:'Toa Payoh Hub'}},
                            created:{}
                        },
                        isLogged:false,
                        events: [{
                            name:"EdibleGardening101 @ToaPayoh",
                            desc: "Bring your family down to Toa Payoh for a fun-filled morning learning how to grow, harvest and cook your own vegetables!",
                            date: Date("23/10/2023"),
                            startTime: "08:00",
                            endTime: "12:00",
                            location: "Toa Payoh Hub #03-23",
                            fee: "15",

                        }]
                    };
                },
                created() {
                    if (userData!=null && Object.keys(userData).length>0) {
                        this.isLogged = true;
                    }

                },
                methods: {
                    log(str){
                        console.log(str);
                        return;
                    },
                    clearSession(){
                        clearSession();
                    },

                },
                    
                computed: {
                },
        });

        app.mount("#events")
    </script>
</body>
</html>