<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="text">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- Page Title -->
    <title></title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- other Files -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="Events.js"></script>
    
</head>

<body id="events">
    <!-- This is the header/ Nav Bar -->
    <header id="header">
        <div class = "wrapper">
            <a href="index.html" class="logo">Mok's Farmers</a>
        </div>

        <div class ="links">
            <div class = "wrapper">
                <a href="index.html" >Home</a>
                <a href="MyGarden.html" >MyGarden</a>
            </div>
            <div class = "wrapper">
                <a href="Events.html" class="active">Events</a>
                <a href="Buy.html">Buy</a>
            </div>
        </div>

        <div class = "user-info">
        <button class="button-5" role="button">
            <div v-if="isLogged" onclick="clearSession();window.location.replace('index.html')">Logout</div>
            <div v-else><a href="login.html">Login/Signup</a></div>
        </button>
        <div id = "welcome" style ="text-align: right;" v-if="isLogged" >
            Welcome, farmer 
        </div>
        </div>

    </header>

    <div v-if="isLogged" class = "sec" style = "padding-top: 0;">
        
        <div class = "layer1">
            <h2 style = "text-align: left;">Events</h2>
            <div style = "margin-bottom: 5%;">Wanna meet some fellow farmers? Sign up for an event today!</div>
        </div>  

        <div class = "layer 2">
            <div style = "background-color:#002431" class="glass cal-container">
                <div class="cal-header">
                  <h3 style ="color:white">UPCOMING EVENTS</h3>
                </div>
                <div class = "month-year-box">
                    <button><</button>October 2023<button>></button>
                </div>
              </div>
        </div>
        <div class = "layer3">
            <div style = "max-width:900px" class = "event-list">
                <div class = "glass" v-for="event in events">
                    <h3>{{event.name}}</h3>
                    <p style = "color:grey;" >{{event.desc}}</p>
                    <p>
                        Location: {{event.location}}<br>
                        Time: {{event.startTime}} - {{event.endTime}}
                    </p>
                    <div class = "btn-box">
                        <button style = "font-size:100%;width:130px" class = "button" role = "button">Learn more</button>
                    </div>
                </div>
            </div>
            <div class = "event-tracker">

            </div>
        </div>
        
    </div>
    <div v-else>
        <br><h3 class="buy-body">You are not logged in.</h3>
    </div>   
    
    <script>
        console.log(userData)
        if (userData !=null && Object.keys(userData).length >0) {
            document.getElementById("welcome").innerHTML += userData.last_name + "!";
        }
        d = new Date()
        // Vue app
        const app = Vue.createApp({
                data() {
                    return {
                        months:{0:'January',1:'February',2:"March",3:"April",4:"May",5:"June",6:"July",7:"August",8:"September",9:"October",10:"November",11:"December"},
                        weekdays:{0:"Sunday",1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday"},
                        cur_date:{
                            year: d.getFullYear(),
                            month: d.getMonth(),
                            date: d.getDate(),
                            day: d.getDay()
                        },
                        eventCounter:0,
                        pageCounter:0,
                        isLogged:false,
                        events: [{
                            name:"EdibleGardening101 @ToaPayoh",
                            desc: "Bring your family down to Toa Payoh for a fun-filled morning learning how to grow, harvest and cook your own vegetables!",
                            date: Date("23/10/2023"),
                            startTime: "08:00",
                            endTime: "12:00",
                            location: "Toa Payoh Hub #03-23",
                            fee: "15",

                        }]
                    };
                },
                created() {
                    if (userData!=null && Object.keys(userData).length>0) {
                        this.isLogged = true;
                    }
                    console.log(this.year)
                },
                methods: {
                    log(str){
                        console.log(str);
                        return;
                    }
                },
        }).mount("#events");
    </script>
</body>
</html>