<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="text">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- Page Title -->
    <title></title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- other Files -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="Events.js"></script>
    <script type="text/javascript" src="proxyevent.js"></script>
    <style>
        .container {
            display: flex;
            justify-content: center;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        #errors {
            color: red;
        }
    </style>
</head>

<body id="events">
    <!-- This is the header/ Nav Bar -->
    <header id="header">
        <div class = "wrapper">
            <a href="index.html" class="logo">Mok's Farmers</a>
        </div>

        <div class ="links">
            <div class = "wrapper">
                <a href="index.html" >Home</a>
                <a href="MyGarden.html" >MyGarden</a>
            </div>
            <div class = "wrapper">
                <a href="Events.html" class="active">Events</a>
                <a href="Buy.html">Buy</a>
            </div>
        </div>

        <div class = "user-info">
        <button class="button-5" role="button">
            <div v-if="isLogged" onclick="clearSession();window.location.replace('index.html')">Logout</div>
            <div v-else><a href="login.html">Login/Signup</a></div>
        </button>
        <div id = "welcome" style ="text-align: right;" v-if="isLogged" >
            Welcome, farmer 
        </div>
        </div>
    
    </header>
    
    <div class = "sec">
        <div class = "layer1 glass">
            event details
            <button v-if="isSignedup" onclick="window.location.replace('Events.html')" style = "background-color:rgb(243, 68, 68);color:white;font-size:1rem;width:130px;margin-bottom: 50px;" class = "button" role = "button">Back</button>
        </div>
        <div v-if="!isSignedup" class="layer2 glass">
            <h2>Sign up now!</h2>
    
            <div class="sign-up-field flex items-center mb-4">
                <div class="mr-4">Name:</div>
                <div><input type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
            </div>
    
            <div class="sign-up-field flex items-center mb-4">
                <div class="mr-4">Email:</div>
                <div><input type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
            </div>
    
            <div class="sign-up-field flex items-center mb-4">
                <div class="mr-4">Phone:</div>
                <div><input type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
            </div>
    
            <div class="w-full flex justify-end">
                
                    <button onclick="window.location.replace('Events.html')" style = "background-color:rgb(243, 68, 68);color:white;font-size:1rem;width:130px;margin-bottom: 50px;" class = "button" role = "button">Back</button>
                &nbsp
                <button @click="displayPopup = true;isSignedup=true" class="button" style="color:white" role="button">Sign Up</button>
            </div>
    
        </div>

        <div v-if="displayPopup" class = "glass pop-up">
            <h2>Congratulations!</h2>
            <br>
            You have successfully signed up for this event
            <br><br><br>
            <button @click="displayPopup = false" style = "background-color:#4faa2e;font-size:1rem;width:130px;" class = "button" role = "button">Close</button>
        </div>
    </div>

    
    <script>
        if (userData !=null && Object.keys(userData).length >0) {
            document.getElementById("welcome").innerHTML += userData.last_name + "!";
        }else{
            window.location.replace("index.html")
        }
        d = new Date()
        // Vue app
        const app = Vue.createApp({
                data() {
                    return {
                        isSignedup: false,
                        displayPopup: false,
                        isLogged:false,
                        
                    };
                },
                created() {
                    if (userData!=null && Object.keys(userData).length>0) {
                        this.isLogged = true;
                        
                    }
  
                    
                },
                mounted(){
                    
                },
                methods: {
                    log(str){
                        console.log(str);
                        return;
                    },
                    
                    
                },
                computed: {
                    
                }
        })

        
        app.mount("#events")
    </script>
</body>
</html>