<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description"
        content="text">
    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="/images/icons/seeds.png"> -->
    <!-- Page Title -->
    <title></title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="animation.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- other Files -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="Events.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- CSS styling (page specific) -->
    <style>/* CSS for responsive design */
        /* Add media queries for different screen sizes */
        @media only screen and (max-width: 600px) {
            /* CSS rules for screens less than 600px wide */
            /* Update the layout and styling for mobile view here */
            /* #header {
                flex-direction: column;
                align-items: center;
            } */
        
            .layer3 button {
                width: 100%;
            }

            .glass.event {
                height: 500px; 
                width: 300px; 
                margin: 5px;
            }
        
            .event {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        
            .event img {
                max-width: 100%;
                height: auto;
            }
        
           
        }
        </style>
</head>

<body>
    <div id="events">
        <!-- This is the header/ Nav Bar -->
        <header id="header">
            <div class = "wrapper">
                <a href="index.html" class="logo">Mok's Farmers</a>
            </div>

            <div class ="links">
                <div class = "wrapper">
                    <a href="index.html" >Home</a>
                    <a href="MyGarden.html" >MyGarden</a>
                </div>
                <div class = "wrapper">
                    <a href="Events.html" class="active">Events</a>
                    <a href="Buy.html">Buy</a>
                </div>
            </div>

            <div class = "user-info">
                <button class="button-5" role="button"></button>
                <div id = "welcome" style ="text-align: right;"> 
                </div>
            </div>

        </header>

        <div v-if="isLogged" class = "sec" style = "padding-top: 0;">
            <br>
            <div class = "layer 2">
                <div style = "background-color:#002431" class="glass cal-container">
                    
                    <div class="cal-header">
                    <h3 style ="color:white">UPCOMING EVENTS</h3>
                    </div>

                    <div class = "month-year-box">
                        <button style = "cursor:pointer" v-on:click = "monthPrev()"><</button>
                        <div style = "min-width:40%;text-align: center;">{{months[displayMonth]}} {{displayYear}}</div>
                        <button style = "cursor:pointer" v-on:click = "monthNext()">></button>
                    </div>

                    <div class = "cal-row">
                        <div class = "cal-row-wrapper">
                        <div v-for="weekday in weekdays" class = "date-box">{{weekday[0]}}</div>
                        </div>
                    </div>
                    
                    <div v-for="row,rowNum in cal" class = "cal-row">
                        <div class = "cal-row-wrapper">
                        <date-btn 
                            v-on:select="onSelect"
                            ref = "dateBtn"
                            v-for="date,idx in row"
                            v-bind:event-date-list="eventDates"
                            v-bind:cur-date="cur_date.date"
                            v-bind:cur-month="cur_date.month"
                            v-bind:cur-year="cur_date.year"
                            v-bind:month = "date[2]"
                            v-bind:year = "date[3]"
                            v-bind:date = "date[1]"
                            v-bind:cal-len = "cal.length"
                            v-bind:row-num="rowNum"
                            v-bind:row="row"
                            v-bind:idx = "idx"
                            >{{date[1]}}</date-btn>
                        </div>
                    </div>
                    
                    <hr style = "margin-top: 10px;opacity: 50%;">
                    <div class = "my-event-list-header">
                        {{weekdays[cur_date.day]}}, {{cur_date.date}} {{months[cur_date.month-1]}}
                    </div>
                    <div v-if="!userEvents.registered.hasOwnProperty(cur_date_str) && !userEvents.created.hasOwnProperty(cur_date_str)" class = "my-event-list">
                        You have no events on this day! Register one now... or create your own!
                    </div>
                    <div v-else class="my-event-list">
                        <div v-for="type in userEvents">

                            <div v-for="date,key in type">
                                <div  style = "display: flex;flex-direction: column;align-items: center;" v-if="key == cur_date_str" v-for="event in date">
                                    {{event.from}}
                                    <event v-bind:is-own-event="checkIsOwnEvent(event)" v-bind:user-events="userEvents" v-bind:event="event"></event>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    </div>
                    <span style ="color:red;font-size: 2vw;">* </span><span style="font-size: 2vw;">These are your own events</span>
                </div>

                <div class = "layer3">
                    <div style = "width:100%;display: flex;justify-content: flex-start;">

                        <button onclick = "window.location.replace('CreateEvent.html')" class = "button" role = "button">Create</button>

                    </div>
                    <br>
                    <div class = "event-list">
                        <div v-for="event,idx in events">
                        <div class = "glass event" v-if="!isSignupsClosed(event)">
                            <div style ="display: flex;flex-direction: column;justify-content: flex-start;">
                            <div style = "overflow:hidden;height:70%" ><img style="overflow: hidden;object-fit: cover;width: 100%;aspect-ratio: 4/3;object-position: 0 0;" v-bind:src="event.image">
                            </div>
                            
                                <div class ="event-name">{{event.name}}</div>
                                <div style = "color:grey;font-style: italic;" >{{event.desc}}</div>
                            </div>
                            <div style ="display: flex;flex-direction: column;justify-content: space-between;flex-grow: 1;">
                                <p>
                                    Location: {{event.location}}<br>
                                    Date(s): {{eventDuration(event.from,event.to)}}
                                </p>
                                <div class = "btn-box">
                                    <span v-if="checkIsOwnEvent(event)" style = "color:red;align-self: flex-start;">*</span>
                                    <learn-btn v-bind:user-events="userEvents" v-bind:event="event" class="events-btn">Learn more</learn-btn>
                                
                                </div>
                            </div>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                    <div class = "event-tracker">
        
                    </div>
                </div>
                



                <!-- Is there a need for such a huge gap? -->
            
            
        <div v-else>
            <br><h3 class="buy-body">You are not logged in.</h3>
        </div>   
        <!-- The button to scroll back to top -->
        <a id="top" href="#"> <i class="fas fa-arrow-up"></i> </a>
    </div>    
    <script>
        
        checkLogin()

        d = new Date()
        // Vue app
        const app = Vue.createApp({
                data() {
                    return {
                        cal:[],
                        months:{0:'January',1:'February',2:"March",3:"April",4:"May",5:"June",6:"July",7:"August",8:"September",9:"October",10:"November",11:"December"},
                        weekdays:{0:"Sunday",1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday"},
                        cur_date:{
                            year: d.getFullYear(),
                            month: d.getMonth()+1,
                            date: d.getDate(),
                            day: d.getDay()
                        },
                        displayMonth: d.getMonth(),
                        displayYear: d.getFullYear(),
                        eventCounter:0,
                        pageCounter:0,
                        isLogged:false,
                        userEvents: {
                            registered:{},
                            created:{}
                        },
                        events: []
                    };
                },
                created() {
                    if (userData!=null && Object.keys(userData).length>0) {
                        this.isLogged = true;
                        loadEvents().then(a=>{
                            console.log(a[1])
                            this.events = a[0]
                            this.userEvents = a[1]
                        })
                        
                    }
                    
                },
                mounted(){
                    this.populateCal()
                },
                methods: {
                    log(str){
                        console.log(str);
                        return;
                    },
                    monthPrev(){
                        
                        if (this.displayMonth == 0){
                            this.displayMonth = 11
                            this.displayYear -= 1
                        }else{
                            this.displayMonth -= 1
                        }
                        this.populateCal()
                    },
                    monthNext(){                        
                        if (this.displayMonth == 11){
                            this.displayMonth = 0
                            this.displayYear += 1
                        }else{
                            this.displayMonth += 1
                        }
                        this.populateCal()
                    },
                    populateCal(){

                        this.cal =[]
                        cur = new Date(this.displayYear,this.displayMonth,1)
                        end = new Date(this.displayYear,this.displayMonth+1)
                        cur.setDate(-cur.getDay()+1)
                        while (cur.getMonth() != end.getMonth()){
                            temp = []
                            for (let i = 0; i < 7; i++){
                                temp.push([cur.getDay(),cur.getDate(),cur.getMonth()+1,cur.getFullYear()])
                                cur.setDate(cur.getDate()+1)
                            }
                            this.cal.push(temp)
                        }
                        
                    },
                    onSelect(date){
                        this.cur_date.day = date[0]
                        this.cur_date.date = date[1]
                        this.cur_date.month = date[2]
                        this.cur_date.year = date[3]
                        console.log(this.userEvents)
                        console.log(this.events)
                    },
                    eventDuration(from,to){
                        d = new Date(from)
                        d2 = new Date(to)
                        start = [d.getMonth()+1,d.getDate(),d.getFullYear()]
                        end = [d2.getMonth()+1,d2.getDate(),d2.getFullYear()]

                        if (start[0] == end[0] && start[1] == end[1] && start[2] == end[2]){
                            return start[0] + "/" + start[1] + "/" + start[2]
                        }else{
                            return start[0] + "/" +start[1] + "/" + start[2] + " - " + end[0] + "/" + end[1] + "/" + end[2]
                        }
                    },
                    checkIsOwnEvent(event){
                        for (date in this.userEvents.created){
                            for (e of this.userEvents.created[date]){
                                if (e.name == event.name){
                                    return true
                                }
                            }
                        }
                        return false
                    },
                    isSignupsClosed(event){
                        d = event.signup.split("-")
                        d_today = new Date()
                        if (d_today.getFullYear() < d[0]){
                            return false
                        }else if (d_today.getFullYear() == d[0] && d_today.getMonth()+1 < d[1]){
                            return false
                        }else if (d_today.getFullYear() == d[0] && d_today.getMonth()+1 == d[1] && d_today.getDate() <= d[2]){
                            return false
                        }
                        return true
                    },
                    
                },
                computed: {
                    cur_date_str(){
                        return  this.cur_date.month + "/" + this.cur_date.date + "/"+ this.cur_date.year
                    },
                    eventDates(){
                        temp =[]
                        for (date in this.userEvents.registered){
                            d = new Date(date)
                            temp.push(d)
                        }
                        for (date in this.userEvents.created){
                            d = new Date(date)
                            temp.push(d)
                        }
                        return temp
                    }
                }
        })

        app.component('event', {
            data() {
                return {
   
                }
            },
            props: ['event','userEvents','isOwnEvent'],
            template: `<div @click="viewDetails()" class = "my-event"><span>{{event.name}}, {{event.location}}<span v-if="isOwnEvent"style = "color:red" >*</span></span></div>`,
            
            methods: {
                viewDetails(){
                    console.log(this.event)
                    sessionStorage.setItem("event", JSON.stringify(this.event))
                    sessionStorage.setItem('userEvents',JSON.stringify(this.userEvents))
                    // window.location.replace("EventDetails.html")
                }
            },
            created(){
            },
            watch:{
    
            }
        })
        app.component('date-btn', {
            data() {
                return {
                    isGrey: false,
                    d: new Date(),
                    isGreen: false,
                    hasEvent: false
                }
            },
            props: ['idx','row','rowNum','calLen','date','year','month','curDate','curMonth','curYear','eventDateList'],
            template: `<div @click= "select()" class = "date-box" v-bind:class = "{grey:isGrey,white:hasEvent,green:isGreen}"><slot></slot></div>`,
            
            methods: {
                refresh(){
                    flag = false
                    for (date of this.eventDateList){
                        if (date.getDate() == this.date && date.getMonth()+1 == this.month && date.getFullYear() == this.year){
                            this.hasEvent = true
                            flag = true
                            break
                        }
                    }
                    if (!flag){
                        this.hasEvent= false
                    }
                    if (this.month == this.curMonth && this.year == this.curYear && this.date == this.curDate){
                            this.isGreen = true
                    }else{
                        this.isGreen = false
                    }
                    

                    if (this.rowNum == 0){
                        if(this.date>7){
                            this.isGrey = true
                        }else{
                            this.isGrey = false
                        }
                    }else if(this.rowNum == this.calLen-1){

                        if (this.date < 7){
                            this.isGrey = true
                        }else{
                            this.isGrey = false
                        }
                    }else{
                        this.isGrey = false
                    }
                },
                select(){
                    this.$emit('select',[this.idx,this.date,this.month,this.year])
                }
            },
            created(){
                this.refresh()
            },
            watch:{
                date(){
                    this.refresh()
                },
                curDate(){
                    this.refresh()
                },
                eventDateList(){
                    this.refresh()
                }
            }
        })

        app.component('learn-btn', {
            data() {
                return {
                }
            },
            props: ['event','userEvents'],
            template: `<button v-on:click="learn()" style = "font-size:1rem;width:130px" class = "button" role = "button">Learn more</button>`,
            
            methods: {
                learn(){
                    sessionStorage.setItem("event", JSON.stringify(this.event))
                    sessionStorage.setItem("userEvents",JSON.stringify(this.userEvents))
                    window.location.replace("EventDetails.html")
                }
            },
            created(){
                
                
            },
            watch:{

            }
        })

        app.mount("#events")
    </script>
</body>
</html>