<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="text">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- Page Title -->
    <title>My Fancy Page</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- other Files -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="Events.js"></script>
    <script type="text/javascript" src="CreateEvent.js"></script>
    <style>
        .bg-color {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-Left: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 15px;
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(4px);
            padding: 1em;
            margin-bottom: 2%;
        }
        .container {
            display: flex;
            justify-content: center;
            margin-bottom: 10%;
        }
        
        #errors {
            color: red;
        }
        /* #header{
                background-color: #FFF9C1;
            } */
    </style>
</head>

<body id="eventDetails">
    <!-- This is the header/ Nav Bar -->
    <header id="header">
        <div class = "wrapper">
            <a href="index.html" class="logo">Mok's Farmers</a>
        </div>

        <div class ="links">
            <div class = "wrapper">
                <a href="index.html" >Home</a>
                <a href="MyGarden.html" >MyGarden</a>
            </div>
            <div class = "wrapper">
                <a href="Events.html" class="active">Events</a>
                <a href="Buy.html">Buy</a>
            </div>
        </div>

        <div class = "user-info">
            <button class="button-5" role="button">
                <div v-if="isLogged" onclick="clearSession();window.location.replace('index.html')">Logout</div>
                <div v-else><a href="login.html">Login/Signup</a></div>
            </button>
            <div id = "welcome" style ="text-align: right;" v-if="isLogged" >
                Welcome, farmer 
            </div>
        </div>
        </div>
        
    </header>
    
    <div class="container">
        <div class="flex justify-center m-4">
            <div class="bg-color rounded-md p-4">
                <img v-bind:src="event.image" class="object-cover h-48 w-full mb-4 rounded-md " alt="Event Image">
                <h2 class="text-2xl font-bold mb-2">{{event.name}}</h2>
                <h4 class="text-base italic mb-4">{{event.desc}}</h4>

                <p class="text-base">
                    Location: {{event.location}}<br>
                    Date(s): {{eventDuration(event.from,event.to)}}<br>
                    Capacity: {{event.size}}<br>
                    Sign-ups close on: {{eventDuration(event.signup,event.signup)}}<br>
                </p>
                <br>
                <p v-if="isSignedup" style="color:#4faa2e">You have signed up for this event</p>
                <button v-if="isSignedup" onclick="window.location.replace('Events.html')" class="bg-red-500 text-white text-lg py-2 px-4 rounded-lg mt-4">Back</button>
            </div>
        </div>
        <div v-if="!isSignedup && !isOwnEvent" class="flex justify-center m-4">
            <div class="bg-color shadow-md rounded-md p-4">
                <h2 class="text-2xl font-bold mb-4">Sign up now!</h2>
                <div class="flex items-center mb-4">
                    <div class="mr-4 text-lg">Name:</div>
                    <div><input v-model="signUpName" type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
                </div>
                <div class="flex items-center mb-4">
                    <div class="mr-4 text-lg">Email:&nbsp;</div>
                    <div><input v-model="signUpEmail" type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
                </div>
                <div class="flex items-center mb-4">
                    <div class="mr-4 text-lg">Phone:</div>
                    <div><input v-model="signUpPhone" type="text" class="border-2 border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-200"></div>
                </div>
                <div class="w-full flex justify-end">
                    <button onclick="window.location.replace('Events.html')" class="bg-red-500 text-white text-lg py-2 px-4 rounded-lg mr-4">Back</button>
                    <button @click="displayPopup = true;isSignedup=true;joinEvent()" class="bg-blue-500 text-white text-lg py-2 px-4 rounded-lg">Sign Up</button>
                </div>
            </div>
        </div>

        <div v-if="isOwnEvent" class="bg-color flex justify-center m-4">
            <div class=" shadow-md rounded-md p-4">
                <h2 class="text-2xl font-bold mb-4">This is your event!</h2>
                <h5 class="text-lg">Participant List:</h5>
                <table class="">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">S/N</th>
                            <th class="px-4 py-2">Name</th>
                            <th class="px-4 py-2">Email</th>
                            <th class="px-4 py-2">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(p, key, idx) in event.participants" :key="idx">
                            <td class="border px-4 py-2" v-if="p != 'dummy'">{{idx+1}}</td>
                            <td class="border px-4 py-2" v-if="p != 'dummy'">{{p.name}}</td>
                            <td class="border px-4 py-2" v-if="p != 'dummy'">{{p.email}}</td>
                            <td class="border px-4 py-2" v-if="p != 'dummy'">{{p.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-if="displayPopup" class="fixed top-0 left-0 h-screen w-screen flex items-center justify-center bg-black bg-opacity-50">
            <div class="modal-container p-8 rounded-lg shadow-lg text-center">
                <h2 class="text-3xl font-bold mb-4">Congratulations!</h2>
                <p class="text-xl mb-6">You have successfully signed up for this event!</p>
                <button @click="displayPopup = false" class="bg-green-500 text-white text-lg py-2 px-4 rounded-lg mt-4">
                    <a href="Events.html" class="text-white">Close</a>
                </button>
            </div>
        </div>
    </div>

    <script>
        if (userData !=null && Object.keys(userData).length >0) {
            document.getElementById("welcome").innerHTML += userData.last_name + "!";
        }else{
            window.location.replace("index.html")
        }
        d = new Date()
        // Vue app
        const app = Vue.createApp({
                data() {
                    return {
                        isOwnEvent: false,
                        isSignedup: false,
                        displayPopup: false,
                        isLogged:false,
                        event: '',
                        userEvents:'a',
                        signUpName:'',
                        signUpEmail:'',
                        signUpPhone:'',
                        
                    };
                },
                created() {
                    if (userData!=null && Object.keys(userData).length>0) {
                        this.isLogged = true
                        this.event = JSON.parse(sessionStorage.getItem('event'))
                        this.userEvents = JSON.parse(sessionStorage.getItem('userEvents'))
                        this.isOwnEvent = this.checkIsOwnEvent(this.event)
                        // console.log(this.userEvents)
                        if (!this.isOwnEvent){
                            // console.log(this.checkIsSignedup(this.event))
                            this.isSignedup = this.checkIsSignedup(this.event)
                        }
                        // console.log(this.isOwnEvent)
                    }
                },
                mounted(){
                    // console.log(this.userEvents)
                },
                methods: {
                    log(str){
                        console.log(str);
                        return;
                    },
                    eventDuration(from,to){
                        d = new Date(from)
                        d2 = new Date(to)
                        start = [d.getMonth()+1,d.getDate(),d.getFullYear()]
                        end = [d2.getMonth()+1,d2.getDate(),d2.getFullYear()]

                        if (start[0] == end[0] && start[1] == end[1] && start[2] == end[2]){
                            return start[0] + "/" + start[1] + "/" + start[2]
                        }else{
                            return start[0] + "/" +start[1] + "/" + start[2] + " - " + end[0] + "/" + end[1] + "/" + end[2]
                        }
                    },
                    checkIsSignedup(event){
                        for (date in this.userEvents.registered){
                            for (e of this.userEvents.registered[date]){
                                if (e.name == event.name){
                                    return true
                                }
                            }
                        }
                        return false
                    },
                    checkIsOwnEvent(event){
                        for (date in this.userEvents.created){
                            for (e of this.userEvents.created[date]){
                                if (e.name == event.name){
                                    console.log(1)
                                    return true
                                }
                            }
                        }
                        return false
                    },
                    joinEvent(){
                        console.log(this.event.id)
                        joinEvent(this.event.id,this.signUpName,this.signUpEmail,this.signUpPhone)
                    }
                    
                    
                },
                computed: {
                    
                }
        })

        
        app.mount("#eventDetails")
    </script>
</body>
</html>