<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="text">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- Page Title -->
    <title>MyGarden</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="commons.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="validate.js"></script>
    <script type="text/javascript" src="plants.js"></script>
    <script type="text/javascript" src="maps.js"></script>
</head>

<body id="mygarden" onload="loadData()">
    <!-- This is the header/ Nav Bar -->
    <header id="header">
        <div class = "wrapper">
            <a href="index.html" class="logo">Mok's Farmers</a>
        </div>

        <div class ="links">
            <div class = "wrapper">
                <a href="index.html" >Home</a>
                <a href="MyGarden.html" class="active">MyGarden</a>
            </div>
            <div class = "wrapper">
                <a href="Events.html">Events</a>
                <a href="Buy.html">Buy</a>
            </div>
        </div>

        <div class = "user-info">
        <button class="button-5" role="button">
            <div v-if="isLogged" onclick="clearSession();window.location.replace('index.html')">Logout</div>
            <div v-else><a href="login.html">Login/Signup</a></div>
        </button>
        <div id = "welcome" style ="text-align: right;" v-if="isLogged" >
            Welcome, farmer 
        </div>
        </div>

    </header>
    
    <div v-if="isLogged" class="sec">
        <div>
            <div class="flex justify-between items-center py-3">
                <!-- Tab links -->
                <div class="tab">
                    <ul class="flex space-x-4 items-center">
                        <li>
                            <a href="MyGarden.html" aria-current="page" class="tabcontent active text-lg">MyGarden</a>
                        </li>
                        <li>
                            <a href="CommunityGarden.html" class="tabcontent text-lg">CommunityGarden</a>
                        </li>
                    </ul>
                </div>
                <!-- Add Plant button -->
                <button @click="openModal" id="addPlantButton" class="py-2 px-4 bg-black text-white rounded-lg" >Add Plant</button>
            </div>
            <div v-if="myPlantsList.length === 0">
                <h1 class="text-center text-lg" id="noPlantMsg">You have no plants currently. Grow a new one today!</h1>
            </div>
            <div v-else>
                <div v-for="plantItem in myPlantsList">
                    <div class="glass relative">
                        <img class="cropPhoto" :src="plantItem.image" alt="Plant Image" style="display: inline-block; height: 100%; width: 30%;">
                        <div style="display: inline-block; width: 70%;">
                            <h3>{{ plantItem.name }}</h3>
                            Instructions:<br><ul>
                            <li v-for="ins of plantItem.instructions">{{ins}}<br></li>
                            </ul>
                            <div class="absolute bottom-10 right-10">
                            <span class="font-bold">Day {{plantItem.dayTrack}}</span>
                            <button @click="logTracker(plantItem)" style="right:10px" class="bg-lime-600 text-white py-2 px-4 rounded-lg ml-10" >Log Tracker</button>
                            </div>
                            <!-- <span>{{ plantItem.description }}<span> <br>
                            <span>Days to Maturity: {{ plantItem.maturity }}<span> <br>
                            <span>Size: {{ plantItem.size }}</span> <br>
                            <span>Difficulity Level: {{ plantItem.difficulity }}<span> <br> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--
                <plant-card
                    v-for="(plantItem, index) in myPlantsList"
                    :key="index"
                    :plant="plantItem.plant"
                    :description="plantItem.description"
                >
                </plant-card>
            -->
                
              <!-- Plant Modal -->
            <div  v-if="isModalOpen" class="fixed top-0 left-0 h-screen w-screen flex items-center justify-center">
                <div class="modal-container relative">
                    <button @click="closeModal" class="close-button absolute top-2 right-2">&times;</button>
                  <!-- Modal content and form for adding a plant -->
                  <!-- You can add input fields for plant name, image URL, etc. -->
                    <div id="newPlantsList" class="grid grid-cols-3 gap-4">
                    <!-- Plant cards go here -->
                        <div v-for="plant in plants" :key="plant.id" class="border rounded-lg p-4">
                            <img :src="plant.image" alt="Plant Image" class="w-full h-40 object-cover rounded-md mb-2">
                            <p class="text-lg">{{ plant.name }}</p>
                            <button @click="addToMyPlantsList(plant.id)" class="bg-lime-600 text-white py-2 px-4 rounded-lg w-full">Add to MyGarden</button>
                        </div>
                    </div>
                </div>
            </div>
             <!-- The button to scroll back to top -->
            <a id="top" href="#"> <i class="fas fa-arrow-up"></i> </a>
        </div>
    </div>
    <div v-else>
        <br><h3 class="buy-body">You are not logged in.</h3>
    </div>
<script>
    callPlants()
    const arrayPlants = JSON.parse(localStorage.getItem("arrayPlants"));
    const userPlants = JSON.parse(localStorage.getItem("userPlants"));
    console.log(userPlants);
    console.log(localStorage.getItem("userPlantCount").length)
    if (userData!=null && Object.keys(userData).length>0){
            document.getElementById("welcome").innerHTML += userData.last_name + "!";
            }
    const PlantCard = {
        props: ['plant'],
        template: `
            <div class="glass">
                <img class="cropPhoto" :src="plant.image" alt="Plant Image" style="display: inline-block; height: 100%; width: 30%;">
                <div style="display: inline-block; width: 70%;">
                    <h3>{{ plant.name }}</h3>
                    <span>{{ plant.description }}<span> <br>
                    <span>Days to Maturity: {{ plant.maturity }}<span> <br>
                    <span>Size: {{ plant.size }}</span> <br>
                    <span>Difficulity Level: {{ plant.difficulity }}<span> <br>
                </div>
            </div>
        `,
        };
    const app = Vue.createApp({
        data() {
            return {
                isLogged: false,
                isModalOpen: false,
                myPlantsList: userPlants,
                plants: arrayPlants
                };
        },
        methods: {
            openModal() {
                this.isModalOpen = true;
            },
            closeModal() {
                this.isModalOpen = false;
            },
            addToMyPlantsList(id) {
                let plant = this.plants[id];
                this.isModalOpen = false;
                //set day to 1 when plant added so instructions for day1 shows
                plant.day = 1;
                plant = convertProxy(plant);
                this.myPlantsList.push(plant);
                postPlant(plant);
                localStorage.setItem("userPlantCount", this.myPlantsList);
                console.log(this.myPlantsList.length);
                callPlants();
                const userPlants = JSON.parse(localStorage.getItem("userPlants"));
                checkCountTally(userPlants, this.myPlantsList);
                getLocation();
            },
        },
        created(){
            if (userData!=null && Object.keys(userData).length>0){
                this.isLogged = true;
            }
        }
        });
        app.component('plant-card', PlantCard);
        app.mount("#mygarden");          
</script>
<!-- Tailwind CSS styles -->
<style scoped>
    .modal-container {
      background-color: white;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 800px;
      width: 100%;
      text-align: center;
      max-height: 80vh; 
      overflow-y: auto;
    }
    
    .close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    </style>
</body>
<!-- Always include javascript at the end of the file, just above the html tag -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>