@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

html,
body {
    overflow-x: hidden;
    /* To prevent Horizontal scroll */
}

html {
    scroll-behavior: smooth;
    /* To scrolling animation */
}
#footer{
    background-color: #002431;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
}
#header {
    position: absolute;
    /* To Overlap with background */
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 5em;
    display: flex;
    /* To get elements in row */
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    /* Header shld be above everything */
}

#header .logo {
    color: #002431;
    font-weight: 800;
    font-size: 2.5em;
    text-decoration: none;
    /* To prevent Underline */
}

#header ul {
    display: flex;
    /* To get elements in row */
    justify-content: space-around;
    align-items: center;
}

#header ul li {
    list-style: none;
    /* To Remove dot */
    margin: 0px 10px;
}

#header ul li a {
    text-decoration: none;
    /* To prevent Underline */
    padding: 6px 15px;
    color: #002431;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #002431;
    color: white;
}

/* The Section Body... Set it to max size of screen */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Make all images absolute and cover whole screen */
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Properites for th text on top section  */
section #text span {
    font-size: 0.2em;
    letter-spacing: 2px;
    font-weight: 400;
    color: black;
}

section #text {
    position: absolute;
    color: #002431;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
    top: 50%;
}


/* The explore Button */
#explore {
    text-decoration: none;
    /* To prevent Underline */
    padding: 8px 25px;
    background: white;
    color: #002431;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
    /* To move it 100px below from center */
}

#explore:hover {
    background:#002431 ;
    color: white;
}

/* Propeties of Top button */
#top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #4faa2e;
    bottom: 10%;
    right: 5%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Glass Effect */
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-Left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    padding: 1em;
    margin-bottom: 2%;
}
/* Properties for middle section (below water) */
.sec {
    position: relative;
    padding: 10%;
    background: #FFF9C1;
    padding-bottom: 15%;
    z-index: 50;
    overflow: hidden;
}
/* Properties for text content */
.sec h2 {
    font-size: 3.5em;
}

.sec #name {
    font-size: 1.5em;
    font-family: 'Rancho', cursive;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sec h3 {
    font-size: 1.8em;
    margin: 2%;
}

.sec h4 {
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: 600;
}

.sec p {
    margin: 10px 20px 40px;
}

.sec ul {
    margin: 0 5%;
}

.sec ul li {
    margin: 2%;
}

/* Buy Page Styles */

.cropPhoto{
    width: 250px;
    height: 200px;
    float: left;
    vertical-align: middle;
}

.button {
    
    background-color: #000000; /* Green */
    color: beige;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-Left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    padding: 1em;
    margin-bottom: 2%;
  }

.miniCart{
    background: brown;
    position: absolute;
    display:none;
    
  }

#miniCartButton:hover + #miniCart, #miniCart:hover{
    display:flex;
    
}

.changeQtyBtn {
      background-color: grey;
      border-radius: 8px;
      border-width: 0;
      color: #333333;
      cursor: pointer;
      display: block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: auto;
      padding: 5% 10%;
      /* text-align: left; */
      transition: all 200ms;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}

.myTable td{
    display:flex;
  flex-grow:1;
  /* centering the button */
  align-items:center;
  justify-content:center;
}


/* Properties for mobile */
@media screen and (max-width: 650px) {

    #header {
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header ul {
        padding: 0.5em;
    }

    section #text {
        font-size: 20vw;
        /* Adjust text size acc to screen size */
    }

    /* Using contain to make img fit mobile screen size */
    /* height and width chnages size and position */
    section img#cloud {
        object-fit: contain;
        height: 600px;
        width: 600px;
    }

    section img#bird1 {
        object-fit: contain;
        height: 600px;
        width: 400px;
    }

    section img#bird2 {
        object-fit: contain;
        height: 750px;
        width: 500px;
    }

    /* Adjust text content acc to screen size */
    .sec ul li {
        margin: 20px;
    }

    .sec ul {
        margin: 0px 0px;
    }

    .sec h3 {
        font-size: 1.5em;
        margin: 20px 0px;
    }

    .sec p {
        margin: 1% 4%;
    }
    .glass {
        backdrop-filter: blur(1px);
    }

   
}


